.orderBody {
   display: flex;
   justify-content: space-around;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 1em;
   gap: 1em;
}

.select {
   position: relative;
   display: flex;
   width: 20em;
   height: 3em;
   border-radius: .5rem;
   width: 10vw;
   appearance:none;
   outline:0;
   border: 1px solid #3c528eff;
   background:none;
   flex: 1;
   padding: 0 1.5em;
   color:#3c528eff;
   cursor:pointer;
   font-size: 1.1em;
   font-family: 'Lato', sans-serif;
}

.select:hover {
   background: #3c528eff;
   color: #79caf9;
}
